@import '../../bower_components/foundation/scss/normalize';
@import '../../bower_components/foundation/scss/foundation';
@import '../../bower_components/foundation/scss/foundation/components/buttons';

.main {
    margin-top: 44px
}

.Count {
    padding: 8px 15px;
}

.DirectoryList {
    width: 100%
}

footer {
    font-size: .75rem
}